/* Document
========================================================================== */
summary {
    display: list-item;
}

template {
    display: none;
}

pre {
    font-family: monospace, monospace;
    font-size: var(--fs-base);
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: var(--fs-base);
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Lists
========================================================================== */

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

/* Links
========================================================================== */

a {
    background-color: transparent; /* Good reset for backgrounds */
}

a[class] {
    text-decoration: none;
}

a:not([class]) {
    color: currentColor;
    text-decoration-skip-ink: auto;
}

/* Media
========================================================================== */

img,
picture,
video {
    max-width: 100%;
    height: auto;
}

img {
    border-style: none;
    vertical-align: middle;
}
/* Forms
========================================================================== */

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    background-color: var(--color-offwhite);
    padding: var(--space-xsm) var(--space-md);
    border: none;
    outline: none;
    border-radius: var(--round-sm);
}

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    min-height: 6em;
    resize: vertical;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: none; /* Use 'none' to reset */
    appearance: none; /* Use 'none' to reset */
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* This one usually benefits from keeping native appearance */
    font: inherit;
}

progress {
    vertical-align: baseline;
}

/* Dividers
========================================================================== */

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/* Scroll Behavior
========================================================================== */

:target {
    scroll-margin-top: 2rem;
}

/* Website specific style
========================================================================== */
.fs-24 {
    font-size: 2.4rem;
}

.container {
    display: flex;
    flex-flow: column;
    max-width: 1260px;
    padding-inline: var(--space-sm);
    width: 100%;
    margin-inline: auto;
    gap: 20px;
}

/*========== Scrollbar =======*/

/*=========== Avoiding FOUC  ==========*/
header,
section,
footer {
    opacity: 1;
}
//========== Css preset for gsap animation =========//
