.header__menu-toggler[aria-expanded="true"] .line:nth-of-type(2),
footer,
header,
section {
    overflow: hidden;
    opacity: 0;
}
body,
html {
    line-height: 1.5;
}
blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ol[class],
p,
select,
textarea,
ul[class] {
    margin: 0;
}
button,
h3,
h4,
input,
label {
    line-height: 1.1;
}
.btn,
.header__cta,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}
.btn,
.header__cta,
.header__menu a {
    text-decoration: none;
}
@font-face {
    font-display: swap;
    font-family: Heading;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/suranna-v15-latin-regular.woff2) format("woff2");
    size-adjust: 105%;
    ascent-override: 95%;
    descent-override: 25%;
    line-gap-override: 10%;
}
@font-face {
    font-display: swap;
    font-family: Body;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/inter-v20-latin-regular.woff2) format("woff2");
    size-adjust: 100%;
    ascent-override: 90%;
    descent-override: 20%;
    line-gap-override: 5%;
}
@font-face {
    font-display: swap;
    font-family: Body;
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/inter-v20-latin-600.woff2) format("woff2");
    size-adjust: 100%;
    ascent-override: 90%;
    descent-override: 20%;
    line-gap-override: 5%;
}
:root {
    --color-primary: #021f12;
    --color-secondary: #219451;
    --color-accent: #b79e63;
    --color-heading-white: #fff;
    --color-heading-dark: #021f12;
    --color-text-white: #b1b1b1;
    --color-text-dark: #666;
    --color-background: #f8f6f2;
    --color-white: #fff;
    --color-offwhite: #f0f0f0;
    --color-dark: #000;
    --color-hover: #004494;
    --color-success: #28a745;
    --color-error: #dc3545;
    --color-warning: #ffc107;
    --color-border: #d1d5db;
    --color-border-light: #a3a3a394;
    --fs-xsm: 1.4rem;
    --fs-sm: 1.5rem;
    --fs-base: 1.6rem;
    --fs-md: 1.8rem;
    --fs-lg: 2rem;
    --fs-xl: 2.4rem;
    --fs-fluid-md: clamp(2.8rem, 2.487rem + 0.625vw, 3.2rem);
    --fs-fluid-lg: clamp(4rem, 3.135rem + 2.162vw, 5.6rem);
    --fs-fluid-xl: clamp(5.2rem, 3.578rem + 4.054vw, 8.2rem);
    --space-3xsm: 4px;
    --space-2xsm: 8px;
    --space-xsm: 12px;
    --space-sm: 16px;
    --space-md: 20px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 36px;
    --space-3xl: 40px;
    --space-fluid-xsm: clamp(1.2rem, 0.8rem + 1vw, 2rem);
    --space-fluid-sm: clamp(1.6rem, 0.9rem + 1.75vw, 3rem);
    --space-fluid-md: clamp(2.4rem, 1.6rem + 2vw, 4rem);
    --space-fluid-lg: clamp(3.2rem, 2.4rem + 2vw, 4.8rem);
    --space-fluid-xl: clamp(3.6rem, 0.982rem + 5.455vw, 7.2rem);
    --space-fluid-2xl: clamp(7.2rem, 2.836rem + 9.091vw, 13.2rem);
    --round-sm: 8px;
    --round-md: 12px;
    --round-lg: 20px;
    --round-xl: 30px;
    --round-2xl: 40px;
    --transition: 0.3s ease;
    --line-thickness: 2px;
}
.btn--primary:hover .btn__text,
.header__logo {
    color: var(--color-primary);
}
.btn--primary,
.btn--primary:hover .btn__icon svg,
.btn--secondary svg,
.btn--secondary:hover .btn__text {
    color: var(--color-white);
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
.btn,
body {
    font-size: var(--fs-base);
}
*,
::after,
::before {
    box-sizing: border-box;
}
body {
    padding: 0;
    min-height: 100vh;
    min-width: 320px;
    font-family:
        Body,
        system-ui,
        -apple-system,
        Avenir,
        Helvetica,
        Arial,
        sans-serif;
    font-weight: 400;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-background);
    color: var(--color-text-dark);
}
.btn--secondary,
.header__menu a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading-dark);
}
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
main,
menu,
nav,
section {
    display: block;
}
#header__cta-desktop,
.stats__icon,
[hidden] {
    display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Heading, system-ui, sans-serif;
    font-weight: 400;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: var(--fs-fluid-xl);
    line-height: 0.88;
}
h2 {
    font-size: var(--fs-fluid-lg);
    line-height: 1;
}
h3 {
    font-size: var(--fs-fluid-md);
}
h4 {
    font-size: var(--fs-xl);
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 6px 6px 25px;
    font-weight: 600;
    line-height: 1em;
    cursor: pointer;
    user-select: none;
    gap: 10px;
    white-space: nowrap;
    flex-shrink: 0;
}
.btn__text {
    position: inherit;
    z-index: 2;
}
.btn__icon {
    position: relative;
    padding: 10px;
    z-index: 3;
    vertical-align: middle;
    transition: transform 0.3s;
}
.btn--primary,
.btn--secondary {
    border: 1px solid var(--color-accent);
}
.btn:hover svg {
    transform: rotate(45deg);
}
.btn--primary {
    background-color: var(--color-accent);
}
.btn--primary .btn__icon,
.btn--secondary,
.btn--secondary:hover .btn__icon,
.header__container,
.header__menu {
    background-color: var(--color-white);
}
.btn--primary:hover .btn__icon,
.btn--secondary .btn__icon {
    background-color: var(--color-accent);
}
.btn--primary .btn__icon svg,
.btn--secondary:hover .btn__icon svg {
    color: var(--color-accent);
}
.btn__bg {
    background: var(--color-white);
}
.btn--secondary .btn__bg {
    background: var(--color-accent);
}
.header {
    background-color: transparent;
    position: relative;
    margin-bottom: -70px;
    z-index: 900;
}
.header__container {
    width: calc(100% - 20px) !important;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 0.8rem;
    margin-inline: auto;
    border-radius: 100px;
    padding-right: var(--space-2xsm);
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.header__logo {
    display: inline-flex;
    flex-grow: 1;
}
.header__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: var(--fs-md);
    font-weight: 500;
    inset: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 899;
}
.btn,
.btn__text {
    transition: var(--transition);
}
.header__menu.is-active {
    transform: translateX(0);
}
.header__menu-toggler {
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: -10px;
    padding: 0;
    background: 0 0;
    border: 0;
    cursor: pointer;
    z-index: 900;
}
.btn,
.glassmorphism-effect {
    position: relative;
    width: fit-content;
    overflow: hidden;
}
.header__menu-toggler .line {
    position: absolute;
    width: 100%;
    height: var(--line-thickness);
    left: 0;
    background-color: var(--color-primary);
    transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.header__menu-toggler .line:first-of-type {
    top: 0;
}
.header__menu-toggler .line:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}
.header__menu-toggler .line:nth-of-type(3) {
    bottom: 0;
}
.header__menu-toggler[aria-expanded="true"] .line {
    background-color: var(--color-dark);
}
.header__menu-toggler[aria-expanded="true"] .line:first-of-type {
    top: calc(50% - 1px);
    transform: rotate(45deg);
}
.header__menu-toggler[aria-expanded="true"] .line:nth-of-type(3) {
    bottom: calc(50% - 1px);
    transform: rotate(-45deg);
}
.header__cta {
    display: inline-flex;
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-accent);
    padding: 16px 20px;
    border-radius: 50px;
    line-height: 1;
}
.btn,
.btn__icon {
    border-radius: 100px;
}
.hero {
    background-color: var(--color-primary);
    padding-block: calc(var(--space-fluid-2xl) + var(--space-xl))
        var(--space-xl);
    background: radial-gradient(
        ellipse 70% 29%at 50% -4%,
        var(--color-secondary),
        var(--color-primary)
    );
}
.hero__wrapper {
    gap: var(--space-fluid-md);
}
.hero__media {
    position: relative;
    width: 100%;
    aspect-ratio: 592/748;
    text-align: center;
    margin-bottom: -12rem;
}
.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text-white);
    align-items: center;
    text-align: center;
    gap: var(--space-sm);
}
.glassmorphism-effect,
.hero__heading {
    color: var(--color-heading-white);
}
.glassmorphism-effect {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    line-height: 1;
    backdrop-filter: blur(12px) saturate(120%);
    -webkit-backdrop-filter: blur(4px) saturate(120%);
    background: rgba(210, 210, 210, 0.26);
    font-size: var(--fs-sm);
    font-weight: 500;
    padding: 6px 25px;
    border-radius: 100px;
    margin-bottom: var(--space-base);
    gap: var(--space-xsm);
}
.glassmorphism-effect::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(90deg, #fff 0, rgb(0 0 0/4%) 64%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}
.hero__stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: var(--space-xsm);
    place-items: center;
}
.stats__item {
    color: var(--color-white);
    line-height: 1.2;
    text-align: center;
}
.stats__header {
    font-family: Heading, system-ui;
    font-size: var(--fs-fluid-lg);
}
@media (min-width: 992px) {
    .hero__content,
    .hero__stats .stats__body {
        text-align: left;
    }
    .header {
        margin-bottom: -100px;
    }
    .header__container {
        padding-right: var(--space-2xsm) !important;
        height: 70px;
    }
    .header__nav {
        padding-block: var(--space-2xsm);
        justify-content: space-between;
    }
    .header__logo {
        flex-grow: unset;
    }
    .header__logo img {
        width: 120px;
    }
    .header__menu {
        position: relative;
        width: fit-content;
        flex-direction: row;
        font-size: var(--fs-base);
        font-weight: 600;
        text-transform: capitalize;
        padding: 16px 44px;
        border-radius: 100px;
        transform: translateX(0);
        gap: var(--space-2xl);
        inset: auto;
    }
    .header__menu-item {
        line-height: 1;
        border-radius: 50px;
    }
    .header__menu-item a {
        color: var(--color-text-dark);
    }
    .header__menu-item:first-of-type {
        padding: 0.6rem 1.4rem;
        background-color: var(--color-white);
    }
    #header__cta-mobile,
    .header__menu-toggler {
        display: none;
    }
    #header__cta-desktop {
        display: inline-flex;
    }
    .hero,
    .hero::before {
        overflow: hidden;
        position: relative;
    }
    .hero::before {
        position: absolute;
        bottom: 0;
        content: "";
        height: 200px;
        width: 100%;
        background: linear-gradient(#fff0 51%, #ffffff54 100%);
        backdrop-filter: blur(10px);
        -webkit-mask: linear-gradient(#0000 20%, #000 75%);
        mask: linear-gradient(#0000 20%, #000 75%);
        z-index: 1;
    }
    div.hero__wrapper {
        flex-flow: row wrap;
        position: relative;
        align-items: center;
        justify-content: space-between;
        gap: 0;
        min-height: 80vh;
    }
    .hero__media {
        width: 55%;
        order: 2;
        margin: 0;
    }
    .hero__content {
        width: 45%;
    }
    .hero__content,
    .hero__stats {
        position: relative;
        z-index: 2;
    }
    .hero__media img {
        width: clamp(52rem, 18.615rem + 33.654vw, 59rem);
    }
    .hero__content {
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
        order: 1;
        transform: translateY(25%);
        gap: var(--space-md);
    }
    .hero__content .btn {
        margin-top: var(--space-2xsm);
    }
    .hero__stats {
        display: flex;
        justify-content: space-between;
        order: 3;
        width: 100%;
        border-top: 1px solid var(--color-border-light);
        margin-top: -10rem;
    }
    .hero__stats .stats__icon {
        display: block;
        flex-shrink: 0;
    }
    .hero__stats .stats__icon svg {
        width: 40px;
    }
    .hero__stats .stats__header {
        display: flex;
        gap: var(--space-xsm);
    }
    .hero__description {
        max-width: 590px;
        font-size: var(--fs-md);
    }
}
@media (min-width: 480px) {
    .hero__stats {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
}
@media (min-width: 640px) {
    .hero__stats {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}
@media (min-width: 768px) {
    .btn__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }
    .hero__stats {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}
@media (min-width: 1100px) {
    .hero {
        background: radial-gradient(
            ellipse 50% 29%at 50% 6%,
            var(--color-secondary),
            var(--color-primary)
        );
    }
    .hero__stats {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
