header,
section,
footer {
    opacity: 1;
}
@font-face {
    font-display: swap;
    font-family: "Heading";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/suranna-v15-latin-regular.woff2") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Body";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter-v20-latin-regular.woff2") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Body";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/inter-v20-latin-600.woff2") format("woff2");
}
:root {
    --color-primary: #021f12;
    --color-secondary: #219451;
    --color-accent: #b79e63;
    --color-heading-white: #fff;
    --color-heading-dark: #021f12;
    --color-text-white: #b1b1b1;
    --color-text-dark: #666;
    --color-background: #f8f6f2;
    --color-white: #fff;
    --color-offwhite: #f0f0f0;
    --color-dark: #000;
    --color-hover: #004494;
    --color-success: #28a745;
    --color-error: #dc3545;
    --color-warning: #ffc107;
    --color-border: #d1d5db;
    --color-border-light: #a3a3a394;
    --fs-xsm: 1.4rem;
    --fs-sm: 1.5rem;
    --fs-base: 1.6rem;
    --fs-md: 1.8rem;
    --fs-lg: 2rem;
    --fs-xl: 2.4rem;
    --fs-fluid-md: clamp(2.8rem, 2.487rem + 0.625vw, 3.2rem);
    --fs-fluid-lg: clamp(4rem, 3.135rem + 2.162vw, 5.6rem);
    --fs-fluid-xl: clamp(5.2rem, 3.578rem + 4.054vw, 8.2rem);
    --space-3xsm: 4px;
    --space-2xsm: 8px;
    --space-xsm: 12px;
    --space-sm: 16px;
    --space-md: 20px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 36px;
    --space-3xl: 40px;
    --space-fluid-xsm: clamp(1.2rem, 0.8rem + 1vw, 2rem);
    --space-fluid-sm: clamp(1.6rem, 0.9rem + 1.75vw, 3rem);
    --space-fluid-md: clamp(2.4rem, 1.6rem + 2vw, 4rem);
    --space-fluid-lg: clamp(3.2rem, 2.4rem + 2vw, 4.8rem);
    --space-fluid-xl: clamp(3.6rem, 0.982rem + 5.455vw, 7.2rem);
    --space-fluid-2xl: clamp(7.2rem, 2.836rem + 9.091vw, 13.2rem);
    --round-sm: 8px;
    --round-md: 12px;
    --round-lg: 20px;
    --round-xl: 30px;
    --round-2xl: 40px;
    --transition: 0.3s ease;
    --line-thickness: 2px;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*,
::before,
::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 320px;
    line-height: 1.5;
    font-family:
        "Body",
        system-ui,
        -apple-system,
        Avenir,
        Helvetica,
        Arial,
        sans-serif;
    font-size: var(--fs-base);
    font-weight: 400;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-background);
    color: var(--color-text-dark);
}
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section,
main {
    display: block;
}
[hidden] {
    display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
dl,
dd,
figure,
blockquote,
button,
input,
textarea,
select {
    margin: 0;
}
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Heading", system-ui, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--color-heading-dark);
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: var(--fs-fluid-xl);
    line-height: 0.88;
}
h2 {
    font-size: var(--fs-fluid-lg);
    line-height: 1;
}
h3 {
    font-size: var(--fs-fluid-md);
    line-height: 1.1;
}
h4 {
    font-size: var(--fs-xl);
}
.header {
    background-color: transparent;
    position: relative;
    margin-bottom: -70px;
    z-index: 900;
}
.header__container {
    width: calc(100% - 20px) !important;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    margin-block-start: 0.8rem;
    margin-inline: auto;
    border-radius: 100px;
    padding-right: var(--space-2xsm);
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.header__logo {
    display: inline-flex;
    color: var(--color-primary);
    flex-grow: 1;
}
.header__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: var(--fs-md);
    font-weight: 500;
    inset: 0;
    background-color: var(--color-white);
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 899;
}
.header__menu a {
    color: var(--color-heading-dark);
    text-decoration: none;
}
.header__menu.is-active {
    transform: translateX(0);
}
.header__menu-toggler {
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: -10px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 900;
}
.header__menu-toggler .line {
    position: absolute;
    width: 100%;
    height: var(--line-thickness);
    left: 0;
    background-color: var(--color-primary);
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.header__menu-toggler .line:nth-of-type(1) {
    top: 0;
}
.header__menu-toggler .line:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}
.header__menu-toggler .line:nth-of-type(3) {
    bottom: 0;
}
.header__menu-toggler[aria-expanded="true"] .line {
    background-color: var(--color-dark);
}
.header__menu-toggler[aria-expanded="true"] .line:nth-of-type(1) {
    top: calc(50% - 1px);
    transform: rotate(45deg);
}
.header__menu-toggler[aria-expanded="true"] .line:nth-of-type(2) {
    opacity: 0;
}

.header__menu-toggler[aria-expanded="true"] .line:nth-of-type(3) {
    bottom: calc(50% - 1px);
    transform: rotate(-45deg);
}

.header__cta {
    display: inline-flex;
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-accent);
    padding: 16px 20px;
    border-radius: 50px;
    text-transform: capitalize;
    line-height: 1;
    text-decoration: none;
}
#header__cta-desktop {
    display: none;
}

.hero {
    background-color: var(--color-primary);
    padding-block: calc(var(--space-fluid-2xl) + var(--space-xl))
        var(--space-xl);
    background: radial-gradient(
        ellipse 70% 29% at 50% -4%,
        var(--color-secondary),
        var(--color-primary)
    );
}
.hero__wrapper {
    gap: var(--space-fluid-md);
}
.hero__media {
    margin-bottom: -12rem;
}
.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text-white);
    align-items: center;
    text-align: center;
    gap: var(--space-sm);
}
.glassmorphism-effect {
    position: relative;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    color: var(--color-heading-white);
    border-color: transparent;
    line-height: 1;
    backdrop-filter: blur(12px) saturate(120%);
    -webkit-backdrop-filter: blur(4px) saturate(120%);
    background: rgba(210, 210, 210, 0.26);
    overflow: hidden;
    font-size: var(--fs-sm);
    font-weight: 500;
    padding-top: 6px;
    padding-right: 25px;
    padding-bottom: 6px;
    padding-left: 25px;
    border-radius: 100px;
    margin-bottom: var(--space-base);
    gap: var(--space-xsm);
}
.glassmorphism-effect::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgb(0 0 0 / 4%) 64%
    );
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}
.hero__heading {
    color: var(--color-heading-white);
}
.hero__stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: var(--space-xsm);
    place-items: center;
}
.stats__item {
    color: var(--color-text-white);
    line-height: 1.2;
    text-align: center;
}
.stats__header {
    font-family: "Heading", system-ui;
    font-size: var(--fs-fluid-lg);
}
.stats__icon {
    display: none;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 6px 6px 6px 25px;
    font-size: var(--fs-base);
    font-weight: 600;
    line-height: 1em;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    transition: var(--transition);
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 0;
    &__text {
        position: inherit;
        z-index: 2;
        transition: var(--transition);
    }
    &__icon {
        position: relative;
        padding: 15px;
        border-radius: 100px;
        z-index: 3;

        svg {
            width: 24px;
            vertical-align: middle;
            transition: transform 0.3s ease;
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 225%;
        min-height: 225%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.5s ease-out;
        z-index: inherit;
    }
    &:hover &__bg {
        transform: translate(-50%, -50%) scale(1);
    }

    &:hover svg {
        transform: rotate(45deg);
    }
    &--primary {
        color: var(--color-white);
        background-color: var(--color-accent);
        border: 1px solid var(--color-accent);
        .btn__icon {
            background-color: var(--color-white);
            svg {
                color: var(--color-accent);
            }
        }
        &:hover .btn__text {
            color: var(--color-primary);
        }
        &:hover .btn__icon {
            background-color: var(--color-accent);
            svg {
                color: var(--color-white);
            }
        }
        .btn__bg {
            background: var(--color-white);
        }
    }
    &--secondary {
        color: var(--color-heading-dark);
        background-color: var(--color-white);
        border: 1px solid var(--color-accent);
        .btn__icon {
            background-color: var(--color-accent);
            svg {
                color: var(--color-white);
            }
        }
        &:hover .btn__text {
            color: var(--color-white);
        }
        &:hover .btn__icon {
            background-color: var(--color-white);
            svg {
                color: var(--color-accent);
            }
        }
        .btn__bg {
            background: var(--color-accent);
        }
    }
}

@media (min-width: 992px) {
    .header__container {
        max-width: 1920px;
        background-color: transparent;
    }
    .header__nav {
        justify-content: space-between;
    }
    .header__logo {
        flex-grow: unset;
    }
    .header__menu {
        position: relative;
        width: fit-content;
        flex-direction: row;
        font-size: var(--fs-base);
        font-weight: 600;
        text-transform: capitalize;
        background-color: var(--color-background);
        padding: 16px 44px;
        border-radius: 100px;
        transform: translateX(0);
        gap: var(--space-2xl);
        inset: auto;
    }
    .header__menu-item {
        line-height: 1;
        border-radius: 50px;
    }
    .header__menu-item a {
        color: var(--color-text-dark);
    }
    .header__menu-item:nth-of-type(1) {
        padding: 0.6rem 1.4rem;
        background-color: var(--color-white);
    }
    .header__menu-toggler {
        display: none;
    }
    #header__cta-desktop {
        display: inline-flex;
    }
    #header__cta-mobile {
        display: none;
    }
}
