.badge {
    position: relative;
    display: inline-block;
    width: fit-content;
    line-height: 1;
    font-weight: 700;
    color: var(--color-text-dark);
    background-color: var(--color-white);
    text-transform: capitalize;
    font-size: var(--fs-xsm);
    padding: 0.8rem 2rem 0.8rem 2.5rem;
    margin-bottom: var(--space-xsm);
    border: 1px solid var(--color-accent);
    overflow: hidden;
    border-radius: 100vmax;
    transition: var(--transition);
    z-index: 1;
}
.slider-controls {
    display: inline-flex;
    gap: var(--space-2xsm);
    &__btn {
        display: inline-flex;
        width: 56px;
        height: 56px;
        color: var(--color-heading-dark);
        background-color: transparent;
        padding: 0;
        border: 1px solid var(--color-border);
        border-radius: 100vmax;
        transition: var(--transition);
        &:hover {
            color: var(--color-white);
            background-color: var(--color-accent);
            border-color: var(--color-accent);
        }
        .btn__icon {
            width: 100%;
            line-height: 0;
        }
        .icon {
            width: 24px;
            height: 24px;
        }
    }
}
.colored-text {
    color: var(--color-accent);
}

.intro {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    transition: 1s;
    &__wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 50px;
            transform: translate(-50%, -50%);
            opacity: 1;

            &__wrapper {
                position: relative;
                height: 100%;
                width: 100%;
                .logo__content {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    font-size: clamp(0.875rem, 0.667rem + 0.833vw, 1rem);
                    font-weight: 600;
                    line-height: 100%;
                    gap: 10px;
                    color: var(--color-heading-dark);
                    .logo__icon {
                        width: clamp(1.5rem, 0.667rem + 3.333vw, 2rem);
                        fill: var(--color-primary);
                        opacity: 0;
                        transform: scale(5);
                        will-change: opacity transform;
                    }
                }
                .logo__border {
                    position: absolute;
                    inset: 0;
                }
            }
            &__text {
                opacity: 0;
                div {
                    opacity: 0;
                    transform: translateX(20px);
                    will-change: opacity transform;
                }
            }
            &__border {
                stroke-dasharray: 320%;
                stroke-dashoffset: 320%;
            }
        }
    }
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    position: absolute;
    background-color: var(--color-primary);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 100px;
    height: 120px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
}

.about {
    padding-block: var(--space-fluid-2xl);
    &__wrapper {
        justify-content: center;
        align-items: center;
    }
    &__content {
        display: flex;
        max-width: 1050px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: var(--space-sm);
    }

    &__heading {
        text-align: center;
        text-transform: unset;
        span.img img {
            border-radius: 100px;
            aspect-ratio: 85/44;
        }
        span.img:not(:nth-of-type(1)) img {
            border-radius: var(--round-md);
            overflow: hidden;
            line-height: 0;
        }
    }

    &__description {
        max-width: 760px;
    }
    &__cta {
        display: flex;
        justify-content: center;
        gap: var(--space-sm);
        flex-wrap: wrap;
        margin-top: var(--space-sm);
    }
}

.services {
    background-color: var(--color-white);
    padding-block: var(--space-fluid-2xl);
    &__wrapper {
        gap: var(--space-fluid-lg);
    }
    &__heading {
        margin-bottom: var(--space-md);
    }
    .slider-controls {
        display: none;
    }
    &__list--mobile {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: var(--space-lg);
    }

    &__list--desktop {
        display: none;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        .services__title {
            margin-bottom: var(--space-xsm);
        }
    }
    &__media {
        border-radius: var(--round-sm);
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__cta {
        text-align: center;
    }
}

.reason {
    padding-block: var(--space-fluid-2xl);
    &__wrapper {
        gap: var(--space-fluid-lg);
    }
    &__intro {
        margin-bottom: var(--space-xl);
    }
    &__media {
        max-width: 500px;
        align-self: flex-start;
        border-radius: var(--round-lg);
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
        img:nth-of-type(n + 2) {
            display: none;
            aspect-ratio: 220 / 162;
        }
        img:nth-of-type(1) {
            aspect-ratio: 461/503;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: var(--space-md);
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: var(--space-xsm);
        background-color: var(--color-white);
        border-radius: var(--round-lg);
        padding: var(--space-lg) var(--space-md);
    }

    &__icon {
        --size: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-white);
        line-height: 0;
        background-color: var(--color-accent);
        display: inline-flex;
        width: fit-content;
        width: var(--size);
        height: var(--size);
        border-radius: 100px;
        svg {
            width: 3rem;
        }
    }
}

.step {
    --icon-size: 70px;
    padding-block: var(--space-fluid-2xl);
    background: radial-gradient(
        ellipse 86% 29% at 50% -9%,
        var(--color-secondary),
        var(--color-primary)
    );
    &__wrapper {
        gap: var(--space-fluid-lg);
    }
    &__heading {
        color: var(--color-heading-white);
    }
    &__list {
        position: relative;
        display: grid;
        gap: var(--space-lg);
        &-bg {
            position: absolute;
            height: 100%;
            left: calc(var(--icon-size) / 2);
            color: var(--color-border-light);
            user-select: none;
            pointer-events: none;
            .icon {
                width: 2px;
                height: 100%;
            }
        }
    }
    &__item {
        display: flex;
        gap: var(--space-sm);
    }
    &__icon {
        display: grid;
        place-items: center;
        width: var(--icon-size);
        height: var(--icon-size);
        background-color: var(--color-accent);
        flex-shrink: 0;
        text-align: center;
        color: var(--color-white);
        border-radius: 100px;
        svg {
            width: 32px;
            vertical-align: middle;
        }
    }

    &__title {
        color: var(--color-heading-white);
        margin-bottom: var(--space-xsm);
    }
    &__description {
        color: var(--color-text-white);
    }
    &__media {
        overflow: hidden;
        border-radius: var(--round-md);
        max-width: 592px;
        img {
            width: 100%;
            border-radius: var(--round-md);
        }
    }
}

.case-study {
    padding-block: var(--space-fluid-2xl);
    &__wrapper {
        gap: var(--space-fluid-lg);
    }
    &__heading {
        margin-bottom: var(--space-md);
    }
    .slider-controls {
        display: none;
    }
    &__list--mobile {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: var(--space-md);
    }
    .splide {
        display: none;
    }
    .splide &__list {
        display: flex;
        flex-direction: row;
        gap: 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
        border-radius: var(--round-md);
        padding: var(--space-md) var(--space-xsm);
        gap: var(--space-fluid-sm);
        &-header {
            position: relative;
        }
        &-category {
            position: absolute;
            top: 0.8rem;
            left: 0.8rem;
            background-color: rgba(92, 92, 92, 0.267);
            padding-block: var(--space-2xsm);
        }
        &-media {
            overflow: hidden;
            border-radius: var(--round-md);
        }
        &-date {
            font-size: var(--fs-xsm);
        }
        &-content {
            display: grid;
            gap: var(--space-sm);
        }
    }
}

.testimonials {
    padding-block: var(--space-fluid-2xl);
    background-color: var(--color-white);
    text-align: center;
    &__wrapper {
        gap: var(--space-fluid-lg);
    }
    &__intro {
        max-width: 433px;
        align-self: center;
    }
    &__nav {
        display: none;
    }
    &-item {
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
        &__media {
            border-radius: var(--round-md);
            overflow: hidden;
        }
        &__icon {
            display: none;
        }
        &__feedback {
            font-size: var(--fs-md);
            font-style: italic;
            margin-bottom: var(--space-sm);
        }
        &__author {
            display: flex;
            justify-content: center;
            text-align: left;
            gap: var(--space-xsm);
            .author-role {
                font-size: var(--fs-xsm);
            }
        }
    }
    .splide__pagination {
        bottom: -30px;
        .is-active {
            background-color: var(--color-accent);
        }
    }
}

.faq {
    padding-block: var(--space-fluid-2xl);
    background-color: var(--color-bg);
    &__wrapper {
        gap: var(--space-fluid-lg);
    }
    &__intro {
        img {
            display: none;
        }
    }

    &__list {
        display: grid;
        gap: var(--space-md);
    }
    .accordion-item {
        display: flex;
        flex-flow: column;
        background-color: var(--color-white);
        padding: var(--space-md) var(--space-sm);
        border-radius: var(--round-md);
        .accrodion-item__header {
            display: flex;
            width: 100%;
            gap: var(--space-sm);
        }
        .order {
            font-size: var(--fs-xl);
            color: #979797;
        }
        &__button {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            text-align: start;
            padding: 0;
            gap: 20px;
        }
        &__title {
            flex-grow: 1;
            font-size: var(--fs-xl);
            color: var(--color-heading-dark);
        }
        &__icon {
            svg {
                width: 24px;
                fill: var(--color-white);
            }
        }
        &__button[aria-expanded="false"] {
            .accordion-item__icon svg {
                transform: rotate(0deg);
                transition: transform 0.3s linear;
            }
        }
        &__button[aria-expanded="true"] {
            .accordion-item__icon svg {
                transform: rotate(135deg);
                transition: transform 0.3s linear;
            }
        }
        .accordion-item__content {
            p {
                color: var(--color-text-dark);
                font-weight: 400;
                line-height: 1.6em;
                margin-top: var(--space-xsm);
            }
        }
        &__button[aria-expanded="false"] ~ .accordion-item__content {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: all 0.4s linear;
            will-change: opacity, max-height;
        }

        &__button[aria-expanded="true"] ~ .accordion-item__content {
            opacity: 1;
            max-height: 20em;
            transition: all 0.4s linear;
            will-change: opacity, max-height;
        }
    }

    &__media {
        overflow: hidden;
        border-radius: var(--round-md);
    }
}

.contact {
    --space: var(--space-sm);
    padding-block: var(--space-fluid-2xl);
    background-color: var(--color-white);
    &__wrapper {
        gap: var(--space-fluid-lg);
    }
    &-form__wrapper {
        background-color: var(--color-background);
        padding: var(--space-lg) var(--space-sm);
        border-radius: var(--round-md);
        label {
            display: none;
        }
    }
    &-form__title {
        margin-bottom: var(--space-md);
    }
    &-form {
        display: flex;
        flex-direction: column;
        gap: var(--space);
        input,
        textarea,
        select {
            padding: var(--space-sm);
            background-color: var(--color-white);
            border-radius: var(--round-md);
        }
        &__row {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--space);
        }
        button {
            background-color: var(--color-accent);
            border-radius: 100px;
            color: var(--color-white);
        }
    }
    &__media {
        overflow: hidden;
        border-radius: var(--round-md);
    }
}

//======= Mobile Large =======//
@media (min-width: 480px) {
}
//======= Mobile landscape =======//
@media (min-width: 640px) {
    .about {
        &__description {
            font-size: var(--fs-md);
        }
    }
    .services {
        &__header-body {
            font-size: var(--fs-md);
        }
    }
}
//=======   Tablet  =======//
@media (min-width: 768px) {
    .services {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--space-md);
            &-intro {
                max-width: 340px;
                .services__heading {
                    margin-bottom: 0;
                }
            }
            &-body {
                max-width: 585px;
                .slider-controls {
                    margin-top: var(--space-md);
                    display: inline-flex;
                }
            }
        }
        &__list--mobile {
            display: none;
        }
        &__list--desktop {
            display: flex;
        }
    }
    .step {
        &__wrapper {
            flex-flow: row wrap;
            justify-content: center;

            gap: var(--space-fluid-lg);
        }
        &__intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align-last: center;
        }
        &__heading {
            max-width: 550px;
            text-align: center;
        }
        &__list {
            width: calc(50% - 30px);
        }
        &__media {
            width: calc(50% - 30px);
            img {
                aspect-ratio: 236 / 213;
            }
        }
    }

    .case-study {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--space-xl);
            &-intro {
                max-width: 433px;
            }
            &-content {
                font-size: var(--fs-md);
                max-width: 583px;
            }
        }
    }
}
//======= Laptop =======//
@media (min-width: 992px) {
    .reason {
        &__wrapper {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }

        &__media {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-content: start;
            border-radius: 0;
            gap: var(--space-sm);
            img {
                border-radius: var(--round-md);
                height: 100%;
                object-fit: cover;
            }
            img:nth-of-type(n + 2) {
                display: block;
            }
            img:nth-of-type(1) {
                grid-column: 1 / 5;
                height: auto;
            }
            img:nth-of-type(2) {
                grid-column: 1 / 3;
                height: auto;
            }
            img:nth-of-type(3) {
                grid-column: 3 / 5;
                height: auto;
            }
        }
    }
    .case-study {
        &__list--mobile {
            display: none;
        }

        .slider-controls {
            margin-top: var(--space-lg);
            display: flex;
        }
        &__item {
            &-content {
                align-items: center;
                align-content: center;
                padding: var(--space-xl);
                padding-left: 0;
            }
            flex-direction: row;
        }
        &__item-header {
            flex-shrink: 0;
            width: 50%;
        }
        .splide {
            display: block;
        }
    }
    .testimonials {
        &__nav {
            display: block;
            margin-left: -150px;
            margin-bottom: -100px;
        }
        &-item {
            flex-direction: row-reverse;
            &__icon {
                position: absolute;
                left: 0;
                top: 50px;
                display: block;
            }
            &__media {
                width: 50%;
                flex-shrink: 0;
                img {
                    border-radius: var(--round-md);
                }
            }
            &__content {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                gap: var(--space-sm);
            }
            &__feedback {
                font-size: var(--fs-fluid-md);
                text-align: left;
            }
        }
    }
}
