---
import Button from "./Button.astro";
import Svg from "./Svg.astro";
import Icon from "./Svg.astro";
import Logo from "../assets/images/Thomas.avif";
import { Image } from "astro:assets";
---

<footer id="footer" class="footer">
    <div class="footer__wrapper container">
        <div class="footer__logo scale-in">
            <Image src={Logo} alt="Thomas" />
        </div>
        <div class="footer-main">
            <div class="footer-main__introduction">
                <p class="footer-main__description">
                    Your reliable partner for professional legal advice and
                    strong advocacy.
                </p>
                <ul class="footer__social" role="list">
                    <li class="footer__social-item">
                        <a
                            href="https://facebook.com/yourpage"
                            class="footer__social-link"
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="Follow us on Facebook"
                        >
                            <span class="icon" aria-hidden="true">
                                <Icon name="facebook-icon" />
                            </span>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a
                            href="https://facebook.com/yourpage"
                            class="footer__social-link"
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="Follow us on Facebook"
                        >
                            <span class="icon" aria-hidden="true">
                                <Icon name="instagram-icon" />
                            </span>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a
                            href="https://facebook.com/yourpage"
                            class="footer__social-link"
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="Follow us on Facebook"
                        >
                            <span class="icon" aria-hidden="true">
                                <Icon name="linkedin-icon" />
                            </span>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a
                            href="https://facebook.com/yourpage"
                            class="footer__social-link"
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="Follow us on Facebook"
                        >
                            <span class="icon" aria-hidden="true">
                                <Icon name="twitter-icon" />
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-main__nav">
                <h3 class="footer-main__nav-title">Navigation</h3>
                <ul class="footer-main__nav-list">
                    <li class="footer-main__nav-item">
                        <a href="#" class="random-text">Home</a>
                    </li>
                    <li class="footer-main__nav-item">
                        <a href="#" class="random-text">About us</a>
                    </li>
                    <li class="footer-main__nav-item">
                        <a href="#" class="random-text">Services</a>
                    </li>
                    <li class="footer-main__nav-item">
                        <a href="#" class="random-text">Locations</a>
                    </li>
                    <li class="footer-main__nav-item">
                        <a href="#" class="random-text">Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="footer-main__quick-links">
                <h3 class="quick-links__title">Quick links</h3>
                <ul class="footer-main__nav-list">
                    <li class="footer-main__nav-item">
                        <a href="#" class="random-text fromRight"
                            >Privacy policy</a
                        >
                    </li>
                    <li class="footer-main__nav-item">
                        <a href="#" class="">Terms & Conditions</a>
                    </li>
                    <li class="footer-main__nav-item">
                        <a href="#" class="random-text">Documentation</a>
                    </li>
                    <li class="footer-main__nav-item">
                        <a href="#" class="random-text">Support</a>
                    </li>
                </ul>
            </div>
            <div class="footer-main__contact">
                <h3 class="footer-main__contact-title">Contact info</h3>
                <ul class="footer-main__contact-list">
                    <li class="footer-main__contact-item">
                        <a href="#">
                            <span class="icon">
                                <Icon name="location-icon" />
                            </span>
                            <span class="info"
                                >12 Technical Rode, Mirpur, Dhaka</span
                            >
                        </a>
                    </li>
                    <li class="footer-main__contact-item">
                        <a href="#">
                            <span class="icon">
                                <Icon name="mail-icon" />
                            </span>
                            <span class="info">dev.jafarkhan@gmail.com</span>
                        </a>
                    </li>
                    <li class="footer-main__contact-item">
                        <a href="#">
                            <span class="icon">
                                <Icon name="customerService-icon" />
                            </span>
                            <span class="info">(+88) 01834969563</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="footer-copyright__text">© 2025. Built by Jaaro Web</div>
        </div>
    </div>
</footer>
